<!DOCTYPE html>
<html lang="en">
<head>
	{{include './common/meta'}}
<link href="/static/styles/vendors.css?58079f750a476c0b7846" rel="stylesheet"><link href="/static/styles/index.css?58079f750a476c0b7846" rel="stylesheet"></head>
<body>
	{{include './common/header'}}
	<div class="g-bd">
		<input type="button" value="弹窗" class="btn">
		<p class="img">
			<img src="/static/imgs/4-d5dc8228efc53d8e3508e136b61a5144.png" alt="">
		</p>
		{{include './common/_content'}}
	</div>
	{{include './common/footer'}}
<script src="/static/scripts/vendors.js?58079f750a476c0b7846"></script><script src="/static/scripts/index.js?58079f750a476c0b7846"></script></body>
</html>